.dentist-card{
    border-top: none;
    border-bottom: 1px solid #1dc0cc85;
    padding-bottom: 20px;
    transition: .3s;
}
.dentist-card:hover{
    transform: translateY(-10px);
    border-bottom: 2px solid #1dbfcc;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons a.icon-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    background-color: #1dbfcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    transition: .4s;
}
.social-icons a.icon-link:hover{
    background-color: #008892;
    color: white;
}

@media only screen and (max-width:576px){
    .dentist-name{
        font-size: 25px;
    }
}