.login-form {
  width: 450px;
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 10px;
  border: 1px solid #1dbfcc;
}
.login-input {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #e3e3e3;
  outline: none;
  border-radius: 5px;
  transform: 0.3s;
}
.login-input:focus {
  border-color: #1dbfcc;
}
input.input-btn {
  width: 200px;
  height: 50px;
  border: none;
  background: #1dbfcc;
  color: #fff;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}
.errors {
  color: red;
}

.or{
    text-align: center;
    margin-top:40px
}
.or::before {
    content: '';
    display: block;
    width: 150px;
    border-top: 2px dashed #61afb573;
    height: 1px;
    position: relative;
    top: 15px;
    right: 0px;
}
.or::after {
    content: '';
    display: block;
    width: 150px;
    border-top: 2px dashed #61afb573;
    height: 1px;
    position: relative;
    top: -12px;
    left: 225px;
}
.google-login{
    margin:auto;
    display: block;
    border:none;
    padding: 10px 20px;
}

/* responsive for small devices */
@media only screen and (max-width:500px){
  .login-form{
    width: 90%;
  }
}