.dentists{
    padding: 80px 0;
}
.title{
    color: #002345;
    text-align: center;
}
.title span{
    font-weight: bold;
}


@media only screen and (max-width:430px ){
    .title-break{
        display:none;
    }
}