/* banner style */
.banner{
    background-color: #F1F7F8;
}
.banner-info {
    height: 95vh;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
h1.banner-title {
    font-size: 60px;
    color: #002345;
}
.personalized{
    font-weight: bold;
}
.appointment-btn {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 35px;
    background: #1dbfcc;
    border-radius: 5px;
    transition: .4s;
}
.banner-text {
    color: #002345b5;
    font-weight: 500;
    margin-top: 30px 0;
    margin-bottom: 40px;
}
.appointment-btn:hover{
    color: #fff;
    background-color: #118d97;
}
/* banner image */
.banner-img{
    width: 100%;
}

/* ------------------------
---------responsive banner-----------
-------------------------- */
@media only screen and (max-width: 576px){
    .banner-info{
        height: auto;
        padding: 50px 0;
        text-align: center;
    }
    .banner-info .banner-title{
        font-size: 30px;
    }
}